<!doctype html>
<html lang="<% if (lessonLang === 'ES') { %>es<% } else if (lessonLang === 'FR') { %>fr<% } else { %>en<% } %>">
<head>
  <meta charset="UTF-8">
  <title><%= lessonTitle %></title>
  <meta name="author" content="UCAR/COMET">
  <meta name="dcterms.rightsHolder" content="UCAR/COMET">
  <meta name="robots" content="all">
  <meta name="Description" content="<%= lessonDesc %>">
  <meta name="keywords" content="<%= lessonKeys %>">
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="initial-scale=1.0">
<!-- =CORE TAGS START= -->
  <link rel="stylesheet" type="text/css" media="screen" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="css/meted-base.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="css/module-custom.css">
  <script src="jquery/jquery.min.js"></script>
  <script src="jquery/jquery-ui.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <!--lc defaults-->
  <link rel="stylesheet" type="text/css" media="print" href="css/module-print.css">
  <script src="jquery/defaults.js"></script>
<!-- =CORE TAGS END= -->
  <script>
    var printVersion = false; // Specify Print View.  Only [true] for print.php
    var lessonID = <%= lessonID %>; // Specify Lesson ID to add preassessment, or 0 for no preassessment.

    // NOTE: Relative path breaks the download version!!!
    var path = "https://meted.ucar.edu/education_training/lesson/" + lessonID + "/preassessment";
    $(function () {
      if (lessonID > 0) {
        $('#pre-assessment-path').attr('href', path);
        $('.begin-lesson-button').attr('data-toggle', 'modal');
        $('.begin-lesson-button').attr('href', "#beginModule");
      }
    });
  </script>

<!-- IE SUPPORT ==================================-->
<!--[if lte IE 9]>
  <script type="text/javascript" src="ie-support/html5shiv.js"></script>
  <script type="text/javascript" src="ie-support/respond.js"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="ie-support/ie-support.css" />
<![endif]-->
</head>
<body>

  <!--NAVBAR-->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
      <% if (lessonLang==='ES' ) { %>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="">Inicio</a></li>
<% if (templateType==='articulate-shell' ) { %> <li><a href="storyline/story.html" target="_blank">Lección <span class="glyphicon glyphicon-new-window"></span></a></li>
<% } else { %>  <li><a href="navmenu.php">Lección</a></li><% } %>
          <li><a href="download.php">Descargar</a></li>
          <li><a href="media_gallery.php">Galería multimedia</a></li>
          <li><a href="#userQuiz" data-toggle="modal">Prueba</a></li>
          <li><a href="#userSurvey" data-toggle="modal">Encuesta</a></li>
          <li><a href="" id="booster-link">Refuerzo</a></li>
<% if (templateType==='multi-print' || templateType==='articulate-shell' ) { %> <li><a href="contributors.htm">Colaboradores</a></li><% } %>
        </ul>
      <% } else if (lessonLang==='FR' ) { %>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="">Accueil</a></li>
        <% if (templateType==='articulate-shell' ) { %>
          <li><a href="storyline/story.html" target="_blank">Leçon <span class="glyphicon glyphicon-new-window"></span></a></li>
        <% } else { %>
          <li><a href="navmenu.php">Leçon</a></li>
        <% } %>
          <li><a href="download.php">Télécharger</a></li>
          <li><a href="media_gallery.php">Médiathèque</a></li>
          <li><a href="#userQuiz" data-toggle="modal">Questionnaire</a></li>
          <li><a href="#userSurvey" data-toggle="modal">Sondage</a></li>
          <li><a href="" id="booster-link">Questions de suivi</a></li>
        <% if (templateType==='multi-print' || templateType==='articulate-shell' ) { %>
          <li><a href="contributors.htm">Contributeurs</a></li>
      <% } %>
        </ul>
      <% } else { %>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="">Home</a></li>
        <% if (templateType==='articulate-shell' ) { %>
          <li><a href="storyline/story.html" target="_blank">Lesson <span class="glyphicon glyphicon-new-window"></span></a></li>
        <% } else { %>
          <li><a href="navmenu.php">Lesson</a></li>
        <% } %>
          <li><a href="download.php">Download</a></li>
          <li><a href="media_gallery.php">Gallery</a></li>
          <li><a href="#userQuiz" data-toggle="modal">Quiz</a></li>
          <li><a href="#userSurvey" data-toggle="modal">Survey</a></li>
          <li><a href="" id="booster-link">Booster</a></li>
        <% if (templateType==='multi-print' || templateType==='articulate-shell' ) { %>
          <li><a href="contributors.htm">Contributors</a></li>
      <% } %>
        </ul>
      <% } %>
      </div>
    </div>
  </nav>

  <main id="master-container" class="container splash-background">
    <section class="splash-overlay row">
      <section class="lesson-titles center"><h1 id="lesson-title"><%= lessonTitle %></h1>
        <!--<h2 id="lesson-subtitle"></h2>-->
        <br>
      </section>

      <section id="lesson-midrow-items" class="row">
        <div class="col-md-12">
          <% if (lessonLang==='ES' ) { %>
            <div class="center"><a href="navmenu.php" class="btn btn-lg btn-primary begin-lesson-button">Abrir la lección &rarr;</a></div>
          <% } else if (lessonLang==='FR' ) { %>
            <div class="center"><a href="navmenu.php" class="btn btn-lg btn-primary begin-lesson-button">Commencez la leçon &rarr;</a></div>
          <% } else { %>
            <div class="center"><a href="navmenu.php" class="btn btn-lg btn-primary begin-lesson-button">Begin Lesson &rarr;</a></div>
          <% } %>
        </div>
      </section>


      <section id="lesson-splash-credits" class="row">
        <% if (lessonLang==='ES' ) { %>
          <div id="lesson-producer" class="col-sm-6">Producido por The COMET® Program</div>
        <% } else if (lessonLang==='FR' ) { %>
          <div id="lesson-producer" class="col-sm-6">Produit par le programme COMET®</div>
        <% } else { %>
          <div id="lesson-producer" class="col-sm-6">Produced by The COMET&reg; Program</div>
        <% } %>
          <div id="lesson-image-credit" class="col-sm-6"><%= splashImageCredit %></div>
      </section>


      <!--FOOTER-->
      <footer id="lesson-footer" class="row splash-footer">
        <div class="col-md-8">
          <% if (lessonLang==='ES' ) { %>
            <p id="lesson-copyright">&copy; <%= copyrightYear %>, <a href="https://www.ucar.edu/">The University Corporation for Atmospheric Research</a> - Reservados todos los derechos.</p>
          <% } else if (lessonLang==='FR' ) { %>
              <p id="lesson-copyright">&copy; <%= copyrightYear %>, <a href="https://www.ucar.edu/">The University Corporation for Atmospheric Research</a> - Tous droits réservés.</p>
          <% } else { %>
            <p id="lesson-copyright">&copy; <%= copyrightYear %>, <a href="https://www.ucar.edu/">The University Corporation for Atmospheric Research</a> - All Rights Reserved.</p>
          <% } %>
        </div>
        <div class="col-md-4">
          <% if (lessonLang==='ES' ) { %>
            <ul id="parent-links">
              <li><a href="https://www.meted.ucar.edu/legal_es.htm">Avisos legales</a></li>
              <li><a href="https://www.comet.ucar.edu/">COMET</a></li>
              <li><a href="https://www.meted.ucar.edu/index_es.php">MetEd</a></li>
            </ul>
          <% } else if (lessonLang==='FR' ) { %>
            <ul id="parent-links">
              <li><a href="https://www.meted.ucar.edu/legal.htm">Mentions juridiques</a></li>
              <li><a href="https://www.comet.ucar.edu/">COMET</a></li>
              <li><a href="https://www.meted.ucar.edu/">MetEd</a></li>
            </ul>
          <% } else { %>
            <ul id="parent-links">
              <li><a href="https://www.meted.ucar.edu/legal.htm">Legal Notices</a></li>
              <li><a href="https://www.comet.ucar.edu/">COMET</a></li>
              <li><a href="https://www.meted.ucar.edu/">MetEd</a></li>
            </ul>
          <% } %>
        </div>
      </footer>
  </main><!-- end master-container -->

  <!-- MODAL PROMPTS ========================-->
  <!-- Preassessment Prompt -->
  <section id="beginModule" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div id="preassessment-message" class="modal-content">
        <div class="modal-footer">
          <div class="btn-group">
            <a class="btn btn-default" href="navmenu.php"><% if (lessonLang==='ES' ) { %>Abrir la lección<% } else if (lessonLang==='FR' ) { %>Commencez la leçon<% } else { %>Begin Lesson<% } %></a>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="navmenu.php"><% if (lessonLang==='ES' ) { %>Lección regular &raquo;<% } else if (lessonLang==='FR' ) { %>Leçon interactive &raquo;<% } else { %>Regular Lesson &raquo;<% } %></a></li>
              <li><a href="print.php"><% if (lessonLang==='ES' ) { %>Lección imprimible &raquo;<% } else if (lessonLang==='FR' ) { %>Leçon imprimable &raquo;<% } else { %>Printable Lesson &raquo;<% } %></a></li>
            </ul>
          </div>
          <a id="pre-assessment-path" class="btn btn-success" href="#" target="_blank">
            <% if (lessonLang==='ES' ) { %>Abrir la preevaluación &raquo;<% } else if (lessonLang==='FR' ) { %>Allez à la pré-évaluation &raquo;<% } else { %>Go to the pre-assessment &raquo;<% } %>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Quiz and Survey Prompt -->
  <div id="quiz-prompt"></div>
</body>
</html>