<!-- pageTemplate -- desktop aside nav example -->
<aside class="md:flex hidden flex-[1] min-w-[230px] sticky top-16 flex-col h-[94.5vh] overflow-y-auto">
    <div dir="ltr" class="relative overflow-hidden py-4"
        style="position: relative; --radix-scroll-area-corner-width: 0px; --radix-scroll-area-corner-height: 0px;">
        <div data-radix-scroll-area-viewport="" class="h-full w-full rounded-[inherit]"
            style="overflow: hidden scroll;">
            <div style="min-width: 100%; display: table;">
                <div class="flex flex-col gap-3.5 mt-5 pb-6">
                    <div class="mb-2">
                        <h2 class="text-sm font-bold mb-2">PART_1_LABEL</h2>
                        <div class="flex flex-col w-full gap-1">
                            <div data-state="open">
                                <div class="flex items-center gap-2 text-sm">
                                    <a class="" href="/">Introduction</a>
                                    <button
                                        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-primary underline-offset-4 hover:underline ml-auto h-6 w-6"
                                        type="button" aria-controls="radix-:r4:" aria-expanded="true"
                                        data-state="open"><svg stroke="currentColor" fill="none"
                                            stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                                            stroke-linejoin="round" class="h-[0.9rem] w-[0.9rem]" height="1em"
                                            width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path d="m6 9 6 6 6-6"></path>
                                        </svg><span class="sr-only">Toggle</span>
                                    </button>
                                </div>
                                <div data-state="open" id="radix-:r4:" class="CollapsibleContent"
                                    style="transition-duration: 0s; animation-name: none; --radix-collapsible-content-height: 94px; --radix-collapsible-content-width: 230px;">
                                    <div class="mt-2.5 flex flex-col items-start gap-3 pl-4 text-sm border-l text-neutral-800 dark:text-neutral-300/85">
                                        <div class="flex flex-col text-sm"><a class=""
                                                href="/">Installation</a></div>
                                        <div class="flex flex-col text-sm"><a class=""
                                                href="//setup">Setup</a></div>
                                        <div class="flex flex-col text-sm"><a
                                                class="text-primary text-sm font-medium"
                                                href="/">Changelog</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-2">
                        <hr class="border-t border-gray-300">
                    </div>
                    <div class="mb-2">
                        <h2 class="text-sm font-bold mb-2">PART_2_LABEL</h2>
                        <div class="flex flex-col text-sm"><a class="" href="/">Navigation</a>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="flex flex-col w-full gap-1">
                            <div data-state="open">
                                <div class="flex items-center gap-2 text-sm"><a class=""
                                        href="/">Structure</a><button
                                        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-primary underline-offset-4 hover:underline ml-auto h-6 w-6"
                                        type="button" aria-controls="radix-:r5:" aria-expanded="true"
                                        data-state="open"><svg stroke="currentColor" fill="none"
                                            stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                                            stroke-linejoin="round" class="h-[0.9rem] w-[0.9rem]" height="1em"
                                            width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path d="m6 9 6 6 6-6"></path>
                                        </svg><span class="sr-only">Toggle</span></button></div>
                                <div data-state="open" id="radix-:r5:" class="CollapsibleContent"
                                    style="transition-duration: 0s; animation-name: none; --radix-collapsible-content-height: 64px; --radix-collapsible-content-width: 230px;">
                                    <div
                                        class="mt-2.5 flex flex-col items-start gap-3 pl-4 text-sm border-l text-neutral-800 dark:text-neutral-300/85">
                                        <div class="flex flex-col w-full gap-1">
                                            <div data-state="open">
                                                <div class="flex items-center gap-2 text-sm"><a class=""
                                                        href="/">Deeper</a><button
                                                        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-primary underline-offset-4 hover:underline ml-auto h-6 w-6"
                                                        type="button" aria-controls="radix-:r6:"
                                                        aria-expanded="true" data-state="open"><svg
                                                            stroke="currentColor" fill="none" stroke-width="2"
                                                            viewBox="0 0 24 24" stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="h-[0.9rem] w-[0.9rem]" height="1em"
                                                            width="1em" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="m6 9 6 6 6-6"></path>
                                                        </svg><span class="sr-only">Toggle</span></button></div>
                                                <div data-state="open" id="radix-:r6:"
                                                    class="CollapsibleContent"
                                                    style="transition-duration: 0s; animation-name: none; --radix-collapsible-content-height: 30px; --radix-collapsible-content-width: 213px;">
                                                    <div
                                                        class="mt-2.5 flex flex-col items-start gap-3 text-sm text-neutral-800 dark:text-neutral-300/85 ml-1 pl-4 border-l">
                                                        <div class="flex flex-col text-sm">
                                                            <a class="" href="/">Even deeper</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-2">
                        <hr class="border-t border-gray-300">
                    </div>
                    <div class="mb-2">
                        <h2 class="text-sm font-bold mb-2">PART_3_LABEL</h2>
                        <div class="flex flex-col w-full gap-1">
                            <div data-state="open">
                                <div class="flex items-center gap-2 text-sm"><a class=""
                                        href="/">Markup</a><button
                                        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-primary underline-offset-4 hover:underline ml-auto h-6 w-6"
                                        type="button" aria-controls="radix-:r7:" aria-expanded="true"
                                        data-state="open"><svg stroke="currentColor" fill="none"
                                            stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                                            stroke-linejoin="round" class="h-[0.9rem] w-[0.9rem]" height="1em"
                                            width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path d="m6 9 6 6 6-6"></path>
                                        </svg><span class="sr-only">Toggle</span></button></div>
                                <div data-state="open" id="radix-:r7:" class="CollapsibleContent"
                                    style="transition-duration: 0s; animation-name: none; --radix-collapsible-content-height: 286px; --radix-collapsible-content-width: 230px;">
                                    <div
                                        class="mt-2.5 flex flex-col items-start gap-3 pl-4 text-sm border-l text-neutral-800 dark:text-neutral-300/85">
                                        <div class="flex flex-col text-sm"><a class=""
                                                href="/">Cards</a></div>
                                        <div class="flex flex-col text-sm"><a class=""
                                                href="/">Diagrams</a></div>
                                        <div class="flex flex-col text-sm"><a class=""
                                                href="/">Filetree</a></div>
                                        <div class="flex flex-col text-sm"><a class=""
                                                href="/">Lists</a></div>
                                        <div class="flex flex-col text-sm"><a class=""
                                                href="/">Maths</a></div>
                                        <div class="flex flex-col text-sm"><a class=""
                                                href="/">Notes</a></div>
                                        <div class="flex flex-col text-sm"><a class=""
                                                href="/">Steps</a></div>
                                        <div class="flex flex-col text-sm"><a class=""
                                                href="/">Table</a></div>
                                        <div class="flex flex-col text-sm"><a class=""
                                                href="/">Tabs</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>


<!-- pageTemplate -- mobile aside prewrapper background -->
<div data-state="open"
    class="fixed inset-0 z-50 bg-black/80 data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0"
    style="pointer-events: auto;" data-aria-hidden="true" aria-hidden="true">
</div>

<!-- pageTemplate -- mobile aside nav example -->
<div role="dialog" id="radix-:Raqj6:" aria-describedby="radix-:Raqj6H2:" aria-labelledby="radix-:Raqj6H1:"
    data-state="open"
    class="fixed z-50 bg-background p-6 shadow-lg transition ease-in-out data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:duration-300 data-[state=open]:duration-500 inset-y-0 left-0 h-full w-3/4 border-r data-[state=closed]:slide-out-to-left data-[state=open]:slide-in-from-left sm:max-w-sm flex flex-col gap-4 px-0"
    tabindex="-1" style="pointer-events: auto;">
    <h2 id="radix-:Raqj6H1:" class="text-lg font-semibold leading-none tracking-tight sr-only">Menu</h2>
    <div class="flex flex-col space-y-2 text-center sm:text-left"><a type="button" class="px-5 text-left"
            href="/">METED_LESSON_TITLE</a></div>
    <div dir="ltr" class="relative overflow-hidden flex flex-col gap-4"
        style="position: relative; --radix-scroll-area-corner-width: 0px; --radix-scroll-area-corner-height: 0px;">
        <style>
            [data-radix-scroll-area-viewport] {
                scrollbar-width: none;
                -ms-overflow-style: none;
                -webkit-overflow-scrolling: touch;
            }

            [data-radix-scroll-area-viewport]::-webkit-scrollbar {
                display: none
            }
        </style>
        <div data-radix-scroll-area-viewport="" class="h-full w-full rounded-[inherit]"
            style="overflow: hidden scroll;">
            <div style="min-width: 100%; display: table;">
                <div class="flex flex-col gap-2.5 mt-3 mx-0 px-5"><a class="flex items-center gap-1 text-sm"
                        target="_blank" rel="noopener noreferrer" type="button" href="https://www.meted.ucar.edu/">pQUIZ
                        <svg stroke="currentColor" fill="none" stroke-width="3" viewBox="0 0 24 24"
                            stroke-linecap="round" stroke-linejoin="round" class="w-3 h-3 align-super" height="1em"
                            width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 7h10v10"></path>
                            <path d="M7 17 17 7"></path>
                        </svg></a><a class="flex items-center gap-1 text-sm" target="_blank" rel="noopener noreferrer"
                        type="button" href="https://www.meted.ucar.edu/">pSURVEY <svg stroke="currentColor" fill="none"
                            stroke-width="3" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                            class="w-3 h-3 align-super" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 7h10v10"></path>
                            <path d="M7 17 17 7"></path>
                        </svg></a><a class="flex items-center gap-1 text-sm" target="_blank" rel="noopener noreferrer"
                        type="button" href="https://www.meted.ucar.edu/">pBOOSTER <svg stroke="currentColor" fill="none"
                            stroke-width="3" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                            class="w-3 h-3 align-super" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 7h10v10"></path>
                            <path d="M7 17 17 7"></path>
                        </svg></a></div>
                <div class="mx-0 px-5">
                    <div class="flex flex-col gap-3.5 mt-5 pb-6">
                        <div class="mb-2">
                            <h2 class="text-sm font-bold mb-2">Getting started</h2>
                            <div class="flex flex-col w-full gap-1">
                                <div data-state="open">
                                    <div class="flex items-center gap-2 text-sm mr-3"><a class="" type="button"
                                            href="/docs/introduction">Introduction</a><button
                                            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-primary underline-offset-4 hover:underline ml-auto h-6 w-6"
                                            type="button" aria-controls="radix-:rd:" aria-expanded="true"
                                            data-state="open"><svg stroke="currentColor" fill="none" stroke-width="2"
                                                viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                                                class="h-[0.9rem] w-[0.9rem]" height="1em" width="1em"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="m6 9 6 6 6-6"></path>
                                            </svg><span class="sr-only">Toggle</span></button></div>
                                    <div data-state="open" id="radix-:rd:" class="CollapsibleContent"
                                        style="transition-duration: 0s; animation-name: none; --radix-collapsible-content-height: 94px; --radix-collapsible-content-width: 389.5px;">
                                        <div
                                            class="mt-2.5 flex flex-col items-start gap-3 pl-4 text-sm border-l text-neutral-800 dark:text-neutral-300/85">
                                            <div class="flex flex-col text-sm"><a class="" type="button"
                                                    href="/docs/introduction/installation">Installation</a></div>
                                            <div class="flex flex-col text-sm"><a class="" type="button"
                                                    href="/docs/introduction/setup">Setup</a></div>
                                            <div class="flex flex-col text-sm"><a class="" type="button"
                                                    href="/docs/introduction/changelog">Changelog</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-2 mr-3">
                            <hr class="border-t border-gray-300">
                        </div>
                        <div class="mb-2">
                            <h2 class="text-sm font-bold mb-2">Documents</h2>
                            <div class="flex flex-col text-sm"><a class="" type="button"
                                    href="/docs/navigation">Navigation</a></div>
                        </div>
                        <div class="mb-2">
                            <div class="flex flex-col w-full gap-1">
                                <div data-state="open">
                                    <div class="flex items-center gap-2 text-sm mr-3"><a class="" type="button"
                                            href="/docs/structure">Structure</a><button
                                            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-primary underline-offset-4 hover:underline ml-auto h-6 w-6"
                                            type="button" aria-controls="radix-:re:" aria-expanded="true"
                                            data-state="open"><svg stroke="currentColor" fill="none" stroke-width="2"
                                                viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                                                class="h-[0.9rem] w-[0.9rem]" height="1em" width="1em"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="m6 9 6 6 6-6"></path>
                                            </svg><span class="sr-only">Toggle</span></button></div>
                                    <div data-state="open" id="radix-:re:" class="CollapsibleContent"
                                        style="transition-duration: 0s; animation-name: none; --radix-collapsible-content-height: 64px; --radix-collapsible-content-width: 389.5px;">
                                        <div
                                            class="mt-2.5 flex flex-col items-start gap-3 pl-4 text-sm border-l text-neutral-800 dark:text-neutral-300/85">
                                            <div class="flex flex-col w-full gap-1">
                                                <div data-state="open">
                                                    <div class="flex items-center gap-2 text-sm mr-3"><a class=""
                                                            type="button"
                                                            href="/docs/structure/deeper">Deeper</a><button
                                                            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-primary underline-offset-4 hover:underline ml-auto h-6 w-6"
                                                            type="button" aria-controls="radix-:rf:"
                                                            aria-expanded="true" data-state="open"><svg
                                                                stroke="currentColor" fill="none" stroke-width="2"
                                                                viewBox="0 0 24 24" stroke-linecap="round"
                                                                stroke-linejoin="round" class="h-[0.9rem] w-[0.9rem]"
                                                                height="1em" width="1em"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path d="m6 9 6 6 6-6"></path>
                                                            </svg><span class="sr-only">Toggle</span></button></div>
                                                    <div data-state="open" id="radix-:rf:" class="CollapsibleContent"
                                                        style="transition-duration: 0s; animation-name: none; --radix-collapsible-content-height: 30px; --radix-collapsible-content-width: 372.5px;">
                                                        <div
                                                            class="mt-2.5 flex flex-col items-start gap-3 text-sm text-neutral-800 dark:text-neutral-300/85 ml-1 pl-4 border-l">
                                                            <div class="flex flex-col text-sm"><a class="" type="button"
                                                                    href="/docs/structure/deeper/even-deeper">Even
                                                                    deeper</a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-2 mr-3">
                            <hr class="border-t border-gray-300">
                        </div>
                        <div class="mb-2">
                            <h2 class="text-sm font-bold mb-2">Rubix Components</h2>
                            <div class="flex flex-col w-full gap-1">
                                <div data-state="open">
                                    <div class="flex items-center gap-2 text-sm mr-3"><a class="" type="button"
                                            href="/docs/markup">Markup</a><button
                                            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-primary underline-offset-4 hover:underline ml-auto h-6 w-6"
                                            type="button" aria-controls="radix-:rg:" aria-expanded="true"
                                            data-state="open"><svg stroke="currentColor" fill="none" stroke-width="2"
                                                viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                                                class="h-[0.9rem] w-[0.9rem]" height="1em" width="1em"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="m6 9 6 6 6-6"></path>
                                            </svg><span class="sr-only">Toggle</span></button></div>
                                    <div data-state="open" id="radix-:rg:" class="CollapsibleContent"
                                        style="transition-duration: 0s; animation-name: none; --radix-collapsible-content-height: 286px; --radix-collapsible-content-width: 389.5px;">
                                        <div
                                            class="mt-2.5 flex flex-col items-start gap-3 pl-4 text-sm border-l text-neutral-800 dark:text-neutral-300/85">
                                            <div class="flex flex-col text-sm"><a class="" type="button"
                                                    href="/docs/markup/cards">Cards</a></div>
                                            <div class="flex flex-col text-sm"><a class="" type="button"
                                                    href="/docs/markup/diagrams">Diagrams</a></div>
                                            <div class="flex flex-col text-sm"><a class="" type="button"
                                                    href="/docs/markup/filetree">Filetree</a></div>
                                            <div class="flex flex-col text-sm"><a class="" type="button"
                                                    href="/docs/markup/lists">Lists</a></div>
                                            <div class="flex flex-col text-sm"><a class="" type="button"
                                                    href="/docs/markup/maths">Maths</a></div>
                                            <div class="flex flex-col text-sm"><a
                                                    class="text-primary text-sm font-medium" type="button"
                                                    href="/docs/markup/notes">Notes</a></div>
                                            <div class="flex flex-col text-sm"><a class="" type="button"
                                                    href="/docs/markup/steps">Steps</a></div>
                                            <div class="flex flex-col text-sm"><a class="" type="button"
                                                    href="/docs/markup/table">Table</a></div>
                                            <div class="flex flex-col text-sm"><a class="" type="button"
                                                    href="/docs/markup/tabs">Tabs</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-2 mr-3">
                            <hr class="border-t border-gray-300">
                        </div>
                        <div class="mb-2">
                            <h2 class="text-sm font-bold mb-2">Latest Core Components</h2>
                            <div class="flex flex-col w-full gap-1">
                                <div data-state="open">
                                    <div class="flex items-center gap-2 text-sm mr-3"><a class="" type="button"
                                            href="/docs/question-components">Question Components</a><button
                                            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-primary underline-offset-4 hover:underline ml-auto h-6 w-6"
                                            type="button" aria-controls="radix-:rh:" aria-expanded="true"
                                            data-state="open"><svg stroke="currentColor" fill="none" stroke-width="2"
                                                viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                                                class="h-[0.9rem] w-[0.9rem]" height="1em" width="1em"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="m6 9 6 6 6-6"></path>
                                            </svg><span class="sr-only">Toggle</span></button></div>
                                    <div data-state="open" id="radix-:rh:" class="CollapsibleContent"
                                        style="transition-duration: 0s; animation-name: none; --radix-collapsible-content-height: 158px; --radix-collapsible-content-width: 389.5px;">
                                        <div
                                            class="mt-2.5 flex flex-col items-start gap-3 pl-4 text-sm border-l text-neutral-800 dark:text-neutral-300/85">
                                            <div class="flex flex-col text-sm"><a class="" type="button"
                                                    href="/docs/question-components/radio-questions">Radio Questions</a>
                                            </div>
                                            <div class="flex flex-col text-sm"><a class="" type="button"
                                                    href="/docs/question-components/checkbox-questions">Checkbox
                                                    Questions</a></div>
                                            <div class="flex flex-col text-sm"><a class="" type="button"
                                                    href="/docs/question-components/text-questions">Text Questions</a>
                                            </div>
                                            <div class="flex flex-col text-sm"><a class="" type="button"
                                                    href="/docs/question-components/dropdown-questions">Dropdown
                                                    Questions</a></div>
                                            <div class="flex flex-col text-sm"><a class="" type="button"
                                                    href="/docs/question-components/chaining-questions">Chaining
                                                    Questions</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><button type="button"
        class="absolute right-6 top-7 rounded-sm opacity-70 ring-offset-background transition-opacity hover:opacity-100 focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:pointer-events-none data-[state=open]:bg-secondary"><svg
            stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
            stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
        </svg><span class="sr-only">Close</span></button>
</div>


<!-- pageTemplate -- breadcrumbs  -->
<div class="flex items-center justify-between sm:py-7 py-5">
    <div><a class="inline-flex items-center justify-center h-9 px-4 py-2 ml-auto whitespace-nowrap rounded-md text-sm font-medium border border-input bg-background shadow-sm transition-colors hover:bg-accent hover:text-accent-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 !no-underline"
            href="/docs/markup/maths"><svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                stroke-linecap="round" stroke-linejoin="round" class="w-[1rem] h-[1rem] mr-1" height="1em" width="1em"
                xmlns="http://www.w3.org/2000/svg">
                <path d="m15 18-6-6 6-6"></path>
            </svg>
            <p>Previous</p>
        </a></div>
    <div><a class="inline-flex items-center justify-center h-9 px-4 py-2 ml-auto whitespace-nowrap rounded-md text-sm font-medium border border-input bg-background shadow-sm transition-colors hover:bg-accent hover:text-accent-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 !no-underline"
            href="/docs/markup/steps">
            <p>Next</p><svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                stroke-linecap="round" stroke-linejoin="round" class="w-[1rem] h-[1rem] ml-1" height="1em" width="1em"
                xmlns="http://www.w3.org/2000/svg">
                <path d="m9 18 6-6-6-6"></path>
            </svg>
        </a></div>
</div>

<!-- pageTemplate -- navigator -->
<div class="flex items-center justify-between sm:py-7 py-5">
    <div><a class="inline-flex items-center justify-center h-9 px-4 py-2 ml-auto whitespace-nowrap rounded-md text-sm font-medium border border-input bg-background shadow-sm transition-colors hover:bg-accent hover:text-accent-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 !no-underline"
            href="//setup"><svg stroke="currentColor" fill="none"
                stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                stroke-linejoin="round" class="w-[1rem] h-[1rem] mr-1" height="1em" width="1em"
                xmlns="http://www.w3.org/2000/svg">
                <path d="m15 18-6-6 6-6"></path>
            </svg>
            <p>PREVIOUS</p>
        </a></div>
    <div><a class="inline-flex items-center justify-center h-9 px-4 py-2 ml-auto whitespace-nowrap rounded-md text-sm font-medium border border-input bg-background shadow-sm transition-colors hover:bg-accent hover:text-accent-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 !no-underline"
            href="/docs/navigation">
            <p>NEXT</p><svg stroke="currentColor" fill="none" stroke-width="2"
                viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                class="w-[1rem] h-[1rem] ml-1" height="1em" width="1em"
                xmlns="http://www.w3.org/2000/svg">
                <path d="m9 18 6-6-6-6"></path>
            </svg>
        </a></div>
</div>

<!-- pageTemplate -- on this page rightside nav -->
<div class="flex flex-col gap-3 pl-2">
    <h3 class="text-sm font-semibold">This content</h3>
    <div class="flex flex-col gap-2"><a target="_blank" rel="noopener noreferrer"
            class="text-sm text-neutral-800 dark:text-neutral-300/85 no-underline flex items-center"
            href="#"><svg
                stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                stroke-linecap="round" stroke-linejoin="round" class="mr-1 w-4 h-4 inline-block"
                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 7h10v10"></path>
                <path d="M7 17 17 7"></path>
            </svg> Feedback</a><a target="_blank" rel="noopener noreferrer"
            class="text-sm text-neutral-800 dark:text-neutral-300/85 no-underline flex items-center"
            href="#"><svg
                stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                stroke-linecap="round" stroke-linejoin="round" class="mr-1 w-4 h-4 inline-block"
                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 7h10v10"></path>
                <path d="M7 17 17 7"></path>
            </svg> Edit page</a></div>
</div>

<!-- pageTemplate -- footer -->
<footer class="w-full h-16 border-t">
    <div
        class="flex flex-wrap items-center justify-center sm:justify-between gap-4 sm:gap-0 w-full h-full px-2 sm:py-0 py-3 sm:px-4 lg:px-8 text-sm text-muted-foreground">
        <p class="text-center">© 2024,&nbsp;<a class="font-semibold" href="https://www.meted.ucar.edu/">COMET MetEd</a> - All Rights Reserved.</p>
        <div class="text-center hidden md:block"></div>
    </div>
</footer>


<!-- pageTemplate -- original sample content -->
<section>
<h1 class="text-3xl -mt-2">SAMPLE_PAGE_TITLE</h1>
<p class="-mt-4 text-base text-muted-foreground text-[16.5px]">SAMPLE_CONTENT</p>
<p class="-mt-4 text-base text-muted-foreground text-[16.5px]">This section provides an overview of how to get started
    with the Documents, Next.js Document Starter Kit.</p>
<div>
    <p><img src="/images/banner.png" alt="Banner" title="Documents"></p>
    <h2 id="documents"><a href="#documents"><span class="icon icon-link"></span></a>Documents</h2>
    <p>Welcome to <strong>Documents</strong>, a powerful and flexible Next.js documentation starter kit designed to
        simplify the process of creating high-quality, comprehensive
        product documentation, technical manuals, and business guides. Built with <strong>React</strong>,
        <strong>Tailwind CSS</strong>, and <strong>TypeScript</strong>, this starter kit provides the
        foundation to build your project documentation and knowledge base.</p>
    <p>Documents was crafted to streamline the creation, management and showcasing of documentation, allowing developers
        and teams to focus on the content rather
        than building the underlying structure. This documentation aims to help you get up and running with the kit,
        exploring the various features and providing
        insights into how to structure and present your content effectively.</p>
    <div class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-6"><a target="_self" class="!no-underline" href="/">
            <div
                class="group relative p-6 border rounded-lg h-full flex flex-col justify-between bg-white dark:bg-neutral-900 dark:border-neutral-800 shadow-md transition-shadow duration-300 ease-in-out hover:shadow-lg hover:dark:shadow-md">
                <div>
                    <p class="text-xs font-semibold !my-1 text-gray-500 dark:text-gray-400">Instructions</p>
                    <div class="text-lg font-semibold transition-all group-hover:font-bold">Installation</div>
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400 !my-2">Get started with Documents
                        using our quick start installation guide to get your project started.</p>
                </div>
            </div>
        </a><a target="_self" class="!no-underline" href="//setup">
            <div
                class="group relative p-6 border rounded-lg h-full flex flex-col justify-between bg-white dark:bg-neutral-900 dark:border-neutral-800 shadow-md transition-shadow duration-300 ease-in-out hover:shadow-lg hover:dark:shadow-md">
                <div>
                    <p class="text-xs font-semibold !my-1 text-gray-500 dark:text-gray-400">Setup</p>
                    <div class="text-lg font-semibold transition-all group-hover:font-bold">Site Settings</div>
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400 !my-2">Setting up your Documents
                        projects layout, links and search engine optimisation.</p>
                </div>
            </div>
        </a><a target="_blank" rel="noopener noreferrer" class="!no-underline" href="https://www.rubixstudios.com.au/">
            <div
                class="group relative p-6 border rounded-lg h-full flex flex-col justify-between bg-white dark:bg-neutral-900 dark:border-neutral-800 shadow-md transition-shadow duration-300 ease-in-out hover:shadow-lg hover:dark:shadow-md">
                <div
                    class="absolute top-2 right-2 text-gray-500 dark:text-gray-400 group-hover:text-black dark:group-hover:text-white transform transition-transform duration-300 ease-in-out group-hover:translate-x-1 group-hover:-translate-y-1">
                    <svg stroke="currentColor" fill="none" stroke-width="3" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" class="w-4 h-4 group-hover:stroke-[4]" height="1em" width="1em"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 7h10v10"></path>
                        <path d="M7 17 17 7"></path>
                    </svg></div>
                <div>
                    <p class="text-xs font-semibold !my-1 text-gray-500 dark:text-gray-400">Support</p>
                    <div class="text-lg font-semibold transition-all group-hover:font-bold">Rubix Studios</div>
                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400 !my-2">Australia's leading branding,
                        marketing and web development company.</p>
                </div>
            </div>
        </a></div>
    <h2 id="why-documents"><a href="#why-documents"><span class="icon icon-link"></span></a>Why Documents?</h2>
    <p>Documents was created as an open-source project to help the community streamline their documentation process,
        enabling developers to focus on more critical
        tasks. Built with scalability in mind, it adapts to projects of all sizes, from single-page guides to
        comprehensive knowledge bases.</p>
    <p>The integration of MDX, custom components and Tailwind CSS ensures an intuitive experience, simplifying both
        content creation and management.</p>
    <ul>
        <li><strong>Product Guides</strong>: Comprehensive manuals for product usage, setup and troubleshooting.</li>
        <li><strong>Business Documentation</strong>: Clear and structured documentation for internal processes, policies
            and systems.</li>
        <li><strong>Technical Manuals</strong>: Detailed guides for APIs, software development kits (SDKs) and technical
            processes.</li>
    </ul>
    <p>Documents offers extensive customization options, allowing you to easily align the design and functionality with
        your branding.</p>
    <h2 id="key-features"><a href="#key-features"><span class="icon icon-link"></span></a>Key Features</h2>
    <p>Here are some of the features that make <strong>Documents</strong> ideal for building your documentation:</p>
    <table>
        <thead>
            <tr>
                <th>Feature</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Content Creation</strong></td>
                <td>Write documentation using Markdown with JSX, custom components and Mermaid.js for diagrams.</td>
            </tr>
            <tr>
                <td><strong>Navigation &amp; Structure</strong></td>
                <td>Organize content with multi-level navigation, automatically generated tables of contents and smooth
                    pagination.</td>
            </tr>
            <tr>
                <td><strong>Code Features</strong></td>
                <td>Syntax highlighting, enhanced code blocks and a code switcher with copy functionality.</td>
            </tr>
            <tr>
                <td><strong>Advanced Search</strong></td>
                <td>Fuzzy search with term highlighting for quick and accurate results.</td>
            </tr>
            <tr>
                <td><strong>Theming &amp; Layout</strong></td>
                <td>Supports light/dark modes with automatic switching and responsive design.</td>
            </tr>
            <tr>
                <td><strong>Math &amp; Tables</strong></td>
                <td>Seamless integration of LaTeX for math and structured tables.</td>
            </tr>
            <tr>
                <td><strong>SEO &amp; Meta Tags</strong></td>
                <td>Built-in SEO, metadata generation and control over meta tags for better search rankings and social
                    sharing.</td>
            </tr>
            <tr>
                <td><strong>AI-powered Docs (In Development)</strong></td>
                <td>Future feature for AI-driven content discussions and search.</td>
            </tr>
        </tbody>
    </table>
    <h2 id="how-to-use-these-documents"><a href="#how-to-use-these-documents"><span
                class="icon icon-link"></span></a>How to Use These Documents</h2>
    <p>You'll find the documentation's navigation bar on the left side of the screen. The pages are organized in a
        logical sequence, progressing from foundational
        topics to more advanced concepts, allowing you to follow along step-by-step as you build your documentation.
        However, feel free to explore the content in
        any order, selecting the sections most relevant to your use case.</p>
    <p>On the right side of the screen, a table of contents provides easy navigation between sections of each page. For
        quick access to specific content, you can
        use the search bar at the top or the search shortcut (<code>Ctrl+K</code> or <code>Cmd+K</code>).</p>
    <p>Head over to the <a href="/">Installation Guide</a>.</p>
    <h2 id="join-our-community"><a href="#join-our-community"><span class="icon icon-link"></span></a>Join our Community
    </h2>
    <p>If you have questions about anything related to Documents, you're always welcome to ask our community on <a
            href="https://github.com/rubixvi/rubix-documents" target="_blank" rel="noopener noreferrer">GitHub</a>, <a
            href="https://x.com/rubixstory" target="_blank" rel="noopener noreferrer">X (Twitter)</a>, <a
            href="https://www.facebook.com/rubixstudios" target="_blank" rel="noopener noreferrer">Facebook</a>
        and <a href="https://www.reddit.com/r/RubixStudios/" target="_blank" rel="noopener noreferrer">Reddit</a>.</p>
</div>

<div></div>
<!-- page navigator here-->
</section>
