<!DOCTYPE html>
<html lang="<% if (lessonLang === 'ES') { %>es<% } else if (lessonLang === 'FR') { %>fr<% } else { %>en<% } %>">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="src/css/rise_custom.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title><%= lessonTitle %></title>
    <meta name="author" content="UCAR/COMET">
    <meta name="dcterms.rightsHolder" content="UCAR/COMET">
    <meta name="robots" content="all">

    <script type="text/javascript" src="src/js/jquery.min.js"></script>
    <script type="text/javascript" src="src/js/player-0.0.11.min.js"></script>
    <script type="text/javascript" src="src/js/lzwcompress.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="src/css/rise_base.css">
    <link rel="stylesheet" type="text/css" href="src/css/rise_custom.css">
    <script type="text/javascript" src="src/js/sidebar-control.js"></script>
</head>
<body>
    <div id="app">
      <div class="visually-hidden-always" role="log" aria-live="polite" aria-atomic="true" aria-relevant="additions text"></div>
      <div class="visually-hidden-always" role="log" aria-live="polite" aria-atomic="true" aria-relevant="additions text"></div>
      <div class="visually-hidden-always" role="log" aria-live="assertive" aria-atomic="true" aria-relevant="additions text"></div>
      <div class="visually-hidden-always" role="log" aria-live="assertive" aria-atomic="true" aria-relevant="additions text"></div>
      <div id="innerApp" class="theme classic"><div>
      </div>
      <div class="transition-group">
        <div class="page-lesson-wrap">
          <div class="visually-hidden-always" tabindex="-1">
            <h2>Pre-assessment</h2>
            <div>Top of page</div>
          </div>
          <button class="visually-hidden btn-skip-to-lesson brand--ui" type="button">
            <span class="btn-skip-to-lesson__wrap">SKIP TO CONTENT<span aria-hidden="true">
                <object type="image/svg+xml" data="src/assets/skip_icon.svg" class="btn-skip-to-lesson__icon" aria-hidden="true"></object>
            </span></span>
          </button>
          <div class="page-lesson">
            <div class="lesson" data-lesson="true">
              <div class="lesson__content">
                <div class="page-view page-view--visible">
                  <div class="course-navigation__sidebar course-navigation__sidebar--nav-open course-navigation__sidebar--course-nav-type-sidebar">
                    <div>
                      <div class="course-navigation__lessonNav course-navigation__lessonNav--type-full">
                        <nav aria-label="Navigation menu">
                          <div class="nav-control__wrapper">
                            <div class="nav-control__menu" style="margin-top: 0px;">
                              <button class="nav-control__button" aria-controls="nav-content-sidebar" aria-expanded="true" aria-label="Close navigation menu" type="button">
                                <object type="image/svg+xml" data="src/assets/menu_icon.svg" class="nav-control__icon" aria-hidden="true"></object>
                              </button>
                            </div>
                          </div>
                          <div>
                            <div class="nav-sidebar nav-sidebar--accent nav-sidebar--dark-contrast nav-sidebar--light">
                              <div class="nav-sidebar__content" data-nav-scrollable="true" id="nav-content-sidebar">
                                <div class="nav-sidebar-header-ghost" style="height: 201px;"></div>
                                <div class="nav-sidebar-header nav-sidebar-header--transition nav-sidebar__header"
                                  style="height: 201px; overflow: hidden;">
                                  <div class="nav-sidebar-header__inner">
                                    <div class="nav-sidebar-header__graphic"></div>
                                    <div class="nav-sidebar-header__content">
                                      <a class="nav-sidebar-header__title" href="index.htm"><%= lessonTitle %></a>
                                      <div class="nav-sidebar-header__progress">
                                        <div aria-hidden="true" class="nav-sidebar-header__progress-track" role="img">
                                          <div class="nav-sidebar-header__progress-runner" style="width: 0%;"></div>
                                        </div>
                                        <div class="nav-sidebar-header__progress-text"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="nav-sidebar__body">
                                  <section aria-label="Table of contents" class="nav-sidebar__outline" id="nav-sidebar-outline">
                                    <ol class="nav-sidebar__outline-list" role="list">
                                      <li class="nav-sidebar__outline-list-item" role="listitem">
                                        <div class="nav-sidebar__outline-item nav-sidebar__outline-item--active nav-sidebar__outline-item--complete">
                                          <a class="nav-sidebar__outline-item__link nav-sidebar__outline-item__link--active active" data-link="lesson-link-item"
                                            href="preassessment.htm">
                                            <object type="image/svg+xml" data="src/assets/item_sm_icon.svg" class="nav-sidebar__outline-item-link-icon" aria-hidden="true"></object>
                                            Pre-assessment</a>
                                        </div>
                                      </li>
                                      <li class="nav-sidebar__outline-list-item" role="listitem">
                                        <div class="nav-sidebar__outline-item nav-sidebar__outline-item nav-sidebar__outline-item">
                                          <a class="nav-sidebar__outline-item__link nav-sidebar__outline-item__link" data-link="lesson-link-item"
                                            href="storyline/story.html">
                                            <object type="image/svg+xml" data="src/assets/item_sm_icon.svg" class="nav-sidebar__outline-item-link-icon" aria-hidden="true"></object>
                                            Lesson &rarr;</a>
                                        </div>
                                      </li>
                                      <li class="nav-sidebar__outline-list-item" role="listitem">
                                        <div class="nav-sidebar__outline-item nav-sidebar__outline-item nav-sidebar__outline-item">
                                          <a class="nav-sidebar__outline-item__link nav-sidebar__outline-item__link" data-link="lesson-link-item"
                                            href="quiz.htm">
                                            <object type="image/svg+xml" data="src/assets/item_sm_icon.svg" class="nav-sidebar__outline-item-link-icon" aria-hidden="true"></object>
                                            Quiz</a>
                                        </div>
                                      </li>
                                      <li class="nav-sidebar__outline-list-item" role="listitem">
                                        <div class="nav-sidebar__outline-item nav-sidebar__outline-item nav-sidebar__outline-item">
                                          <a class="nav-sidebar__outline-item__link nav-sidebar__outline-item__link" data-link="lesson-link-item"
                                            href="survey.htm">
                                            <object type="image/svg+xml" data="src/assets/item_sm_icon.svg" class="nav-sidebar__outline-item-link-icon" aria-hidden="true"></object>
                                            Survey</a>
                                        </div>
                                      </li>
                                      <li class="nav-sidebar__outline-list-item" role="listitem">
                                        <div class="nav-sidebar__outline-item nav-sidebar__outline-item nav-sidebar__outline-item">
                                          <a class="nav-sidebar__outline-item__link nav-sidebar__outline-item__link" data-link="lesson-link-item"
                                            href="https://meted.ucar.edu/education_training/lesson/<%= lessonID %>/booster">
                                            <object type="image/svg+xml" data="src/assets/item_sm_icon.svg" class="nav-sidebar__outline-item-link-icon" aria-hidden="true"></object>
                                            Booster &rarr;</a>
                                        </div>
                                      </li>
                                      <li class="nav-sidebar__outline-list-item" role="listitem">
                                        <div class="nav-sidebar__outline-item nav-sidebar__outline-item nav-sidebar__outline-item">
                                          <a class="nav-sidebar__outline-item__link nav-sidebar__outline-item__link" data-link="lesson-link-item"
                                            href="gallery.php">
                                            <object type="image/svg+xml" data="src/assets/item_sm_icon.svg" class="nav-sidebar__outline-item-link-icon" aria-hidden="true"></object>
                                            Gallery</a>
                                        </div>
                                      </li>                                      
                                      <% if (usedPages.includes('ResourcesPage')) { %>
                                        <li class="nav-sidebar__outline-list-item" role="listitem">
                                          <div class="nav-sidebar__outline-item nav-sidebar__outline-item nav-sidebar__outline-item">
                                            <a class="nav-sidebar__outline-item__link nav-sidebar__outline-item__link" data-link="lesson-link-item"
                                              href="resources.htm">
                                              <object type="image/svg+xml" data="src/assets/item_sm_icon.svg" class="nav-sidebar__outline-item-link-icon" aria-hidden="true"></object>
                                              Resources</a>
                                          </div>
                                        </li>
                                      <% } %>
                                      <li class="nav-sidebar__outline-list-item" role="listitem">
                                        <div class="nav-sidebar__outline-item nav-sidebar__outline-item nav-sidebar__outline-item">
                                          <a class="nav-sidebar__outline-item__link nav-sidebar__outline-item__link" data-link="lesson-link-item"
                                            href="download.php">
                                            <object type="image/svg+xml" data="src/assets/item_sm_icon.svg" class="nav-sidebar__outline-item-link-icon" aria-hidden="true"></object>
                                            Download</a>
                                        </div>
                                      </li>
                                      <% if (usedPages.includes('PrintPage')) { %>
                                        <li class="nav-sidebar__outline-list-item" role="listitem">
                                          <div class="nav-sidebar__outline-item nav-sidebar__outline-item nav-sidebar__outline-item">
                                            <a class="nav-sidebar__outline-item__link nav-sidebar__outline-item__link" data-link="lesson-link-item"
                                              href="print.php">
                                              <object type="image/svg+xml" data="src/assets/item_sm_icon.svg" class="nav-sidebar__outline-item-link-icon" aria-hidden="true"></object>
                                              Printable Content</a>
                                          </div>
                                        </li>
                                      <% } %>
                                      <li class="nav-sidebar__outline-list-item" role="listitem">
                                        <div class="nav-sidebar__outline-item nav-sidebar__outline-item nav-sidebar__outline-item">
                                          <a class="nav-sidebar__outline-item__link nav-sidebar__outline-item__link" data-link="lesson-link-item"
                                            href="contributors.htm">
                                            <object type="image/svg+xml" data="src/assets/item_sm_icon.svg" class="nav-sidebar__outline-item-link-icon" aria-hidden="true"></object>
                                            Contributors</a>
                                        </div>
                                      </li>
                                    </ol>
                                  </section>
                                  <div class="nav-sidebar-results"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </nav>
                      <div>
              <div class="lessonNavigation__wrapper lessonNavigation__wrapper--full">
                <div class="page-wrap" id="page-wrap">
                  <div class="navButtonsFull">
                    
                    <div>
                      <div>

                        
                        <!-- CONTENT -->
                        <div class="page" data-type="blocks" data-page="true">
                          <div class="page__wrapper page__wrapper--white">
                            <main aria-describedby="lesson-main-region-desc" class="lesson-main" tabindex="-1">
                              <span id="lesson-main-region-desc" class="visually-hidden-always">Lesson content</span>
                              <div aria-hidden="false" class="lesson-header-wrap lesson-header-wrap--light">
                                <section class="page__header">
                                  <div class="page__header-limit">
                                    <div class="page__header-container">
                                      <div class="lesson-header__row">
                                        <div class="lesson-header__main">
                                          <div class="lesson-header">
                                            <div class="lesson-header__top-wrap">
                                              <div class="lesson-header__content">
                                                <div class="lesson-header__counter"></div>
                                                <h1 class="lesson-header__title">
                                                  <div class=" brand--linkColor">
                                                    <div class="fr-view">Pre-assessment</div>
                                                  </div>
                                                </h1>
                                                <div class="lesson-header__author"></div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </section>
                              <div><div class="progress-wrap"><div class="progress"><div class="progress__container"><div class="progress__indicator brand--background" style="transform: translate3d(100%, 0px, 0px);"></div></div></div></div></div>
                              </div>
                              <div class="page__content page__content--appear page__content--preview-nav">
                                            
                              <section class="blocks-lesson">
                                <div class="noOutline">
                                  <div>
                                    <div
                                      class="block-text block-text--onecol-custom-width block-text--onecol-custom-width-text-med block-wrapper bg bg--range-light bg--type-light"
                                      style="--color-background: #ffffff; box-shadow: rgb(255, 255, 255) 0px 1px 0px; padding-bottom: 3rem; padding-top: 3rem;">
                                      <span></span>
                                      <div class="block-text__container">
                                        <div class="block-text__row"></div>
                                        <div class="block-text__row">
                                          <div class="block-text__col">
                                            <div class="fr-view">

                                              <p>Before you begin, please complete a short pre-assessment by clicking the button below.</p>

                                              <p>This pre-assessment covers material in the lesson that you are about to take, and it will help you gauge your current level of understanding of this topic. You will have the opportunity to take a quiz with very similar questions after you have completed the lesson. Comparing the two will help you see how much you’ve learned and will also help us see how well the lesson achieves its goals.</p>
                                              
                                              <br><br>

                                              <div class="flex-container text-center">
                                                  <a class="btn btn-default" href="https://meted.ucar.edu/education_training/lesson/<%= lessonID %>/preassessment" rel="noopener noreferrer" tabindex="0" target="_blank" aria-label="Go to Pre-assessment (opens in a new tab)">Go to Pre-assessment &rarr;</a>
                                              </div>

                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="noOutline">
                                  <div>
                                    <div class="block-gallery block-gallery--fourcol block-wrapper bg bg--range-light bg--type-light" style="--color-background: #ffffff; box-shadow: rgb(255, 255, 255) 0px 1px 0px; padding-bottom: 3rem; padding-top: 3rem;"></div>
                                  </div>
                                </div>

                              </section>

                              </div>
                            </main>
                            </div>
                            </div>
                            </div>
                            </div>
                                
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <footer id="lesson-footer">
                      <% if (lessonLang==='ES' ) { %>
                        <p id="lesson-copyright">&copy; <%= copyrightYear %>, <a href="https://www.ucar.edu/">The University Corporation for Atmospheric Research</a> - Reservados todos los derechos.</p>
                      <% } else if (lessonLang==='FR' ) { %>
                        <p id="lesson-copyright">&copy; <%= copyrightYear %>, <a href="https://www.ucar.edu/">The University Corporation for Atmospheric Research</a> - Tous droits réservés.</p>
                      <% } else { %>
                        <p id="lesson-copyright">&copy; <%= copyrightYear %>, <a href="https://www.ucar.edu/">The University Corporation for Atmospheric Research</a> - All Rights Reserved.</p>
                      <% } %>

                      <% if (lessonLang==='ES' ) { %>
                        <p id="parent-links">
                          <a href="https://www.meted.ucar.edu/legal_es.htm">Avisos legales</a> | 
                          <a href="https://www.comet.ucar.edu/">COMET</a> | 
                          <a href="https://www.meted.ucar.edu/index_es.php">MetEd</a>
                        </p>
                      <% } else if (lessonLang==='FR' ) { %>
                        <p id="parent-links">
                          <a href="https://www.meted.ucar.edu/legal.htm">Mentions juridiques</a> | 
                          <a href="https://www.comet.ucar.edu/">COMET</a> | 
                          <a href="https://www.meted.ucar.edu/">MetEd</a>
                        </p>
                      <% } else { %>
                        <p id="parent-links">
                          <a href="https://www.meted.ucar.edu/legal.htm">Legal Notices</a> | 
                          <a href="https://www.comet.ucar.edu/">COMET</a> | 
                          <a href="https://www.meted.ucar.edu/">MetEd</a>
                        </p>
                      <% } %>
                    </footer>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div></div>
      
    </div>
    </div>

</body>
</html>