/* template */
.lc-docs-sidenav li > a {
  color: #333;
  font-family: "__GeistSans_3a0388", "__GeistSans_Fallback_3a0388", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.lc-docs-sidenav li > ul {
  padding-left: 1rem;
  border-left: 1px solid #ddd;
}
.lc-docs-sidenav ul > li > ul {
  padding-left: 1rem;
  border-left: 1px solid #ddd;
}

/* download */
#license_agree {
  padding: 20px 40px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  height: 500px !important;
  overflow: scroll !important;
  margin: 20px auto !important;
}
#agree_btns {
  margin-bottom: 40px;
}

.dwn_agree_btn {
  background-color: #17171a;
  color: #fff;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 5px;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}
.dwn_agree_btn:hover {
  background-color: #2e2e31;
}

.dwn_disagree_btn {
  background-color: #fff;
  color: #18181b;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 5px;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  border: 1px solid #e4e4e7;
}

.dwn_disagree_btn:hover {
  background-color: #f4f4f5;
}