/* template */
.lc-docs-sidenav li > a {
  color: #333;
  font-family: "__GeistSans_3a0388", "__GeistSans_Fallback_3a0388", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.lc-docs-sidenav li > ul {
  padding-left: 1rem;
  border-left: 1px solid #ddd;
}
.lc-docs-sidenav ul > li > ul {
  padding-left: 1rem;
  border-left: 1px solid #ddd;
}

/* download */
#license_agree {
  padding: 20px 40px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  height: 500px !important;
  overflow: scroll !important;
  margin: 20px auto !important;
}
#agree_btns {
  margin-bottom: 40px;
}
#agree_btns input {
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#agree_btns .agree {
  padding: 12px 24px;
  border: 1px solid #11185f;
  background-color: #1f7dff;
  font-weight: bold;
  color: black;
}
#agree_btns .agree:hover {
  background-color: #529afe;
}